/* #region .solution */
.solution {
  padding: 1rem 1.25rem;
  border-radius: 0.375rem;
  margin: 1rem 0;
  box-shadow: var(--ifm-global-shadow-lw);
  background-color: var(--solution__bg-color);
  border-left: 4px solid var(--solution__border-color);
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

[data-theme="dark"] .solution {
  background-color: var(--solution__bg-color-dark);
  border-left-color: var(--solution__border-color-dark);
}
/* #endregion */

/* #region .solution__title */
.solution__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;

  padding: 0.5rem 0;

  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.2;
  color: var(--solution__title-color);

  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}


[data-theme="dark"] .solution__title {
  color: var(--solution__title-color-dark);
}
/* #endregion */

/* #region .solution__icon */
.solution__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--solution__title-color);
}

[data-theme="dark"] .solution__icon {
  color: var(--solution__title-color-dark);
}
/* #endregion */

/* #region .solution__toggle */
.solution__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  color: var(--solution__title-color);
}

[data-theme="dark"] .solution__toggle {
  color: var(--solution__title-color-dark);
}
/* #endregion */

/* #region .solution__content */
.solution__content {
  margin-top: 0.75rem;
  padding-top: 0.25rem;
  /* border-top: 1px solid var(--ifm-color-emphasis-200); */
}
/* #endregion */

.solution__icon,
.solution__toggle {
  line-height: 1.2;
}

