[data-theme="dark"] {
  --ifm-color-primary: #c792ea;
  --ifm-color-primary-dark: #b480d9;
  --ifm-color-primary-darker: #9b6ac2;
  --ifm-color-primary-darkest: #7e4da5;
  --ifm-color-primary-light: #d9aaf2;
  --ifm-color-primary-lighter: #e2bdf7;
  --ifm-color-primary-lightest: #edd1fb;
}
