:root {
  --ifm-color-primary: #5c6ac4;
  --ifm-color-primary-dark: #4954a3;
  --ifm-color-primary-darker: #3e488d;
  --ifm-color-primary-darkest: #2c356a;
  --ifm-color-primary-light: #7480d3;
  --ifm-color-primary-lighter: #8e9ae1;
  --ifm-color-primary-lightest: #aab4f0;
}
