/* styles.module.css */

.features {
  padding: 4rem 0;
  background-color: var(--definition-bg-light); /* Fondo para el tema claro */
  transition: background-color 0.3s;
}

[data-theme='dark'] .features {
  background-color: var(--definition-bg-dark); /* Fondo para el tema oscuro */
}

.featureItem {
  margin-bottom: 2rem;
  transition: transform 0.3s ease-in-out;
}

.featureItem:hover {
  transform: translateY(-10px);
}

.featureImage {
  margin-bottom: 1.5rem;
  animation: fadeIn 0.6s ease-in-out;
}

.featureSvg {
  height: 150px;
  width: 150px;
}

.featureTitle {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: var(--ifm-color-primary); /* Usamos tu variable primaria */
}

.featureDescription {
  font-size: 1.1rem;
  color: var(--definition-text-color-light); /* Color de texto para tema claro */
  line-height: 1.6;
}

[data-theme='dark'] .featureDescription {
  color: var(--definition-text-color-dark); /* Color de texto para tema oscuro */
}

/* Animation for SVGs */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
