.webPage {
  line-height: 1.6;
  margin-bottom: 1rem;
}

.icon {
  font-size: 1.1em;
}

.title {
  text-decoration: underline;
  color: var(--ifm-link-color);
}

.duration {
  color: gray;
  font-size: 0.9em;
  font-style: italic;
}

.location {
  font-style: italic;
  font-weight: 500;
}

.author {
  font-weight: bold;
}

.description {
  margin-top: 0.5em;
  font-size: 0.95em;
}
