:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --definition-bg-light: #f9f9f9; /* Color de fondo para el tema claro */
  --definition-border-color-light: #4A90E2; /* Color del borde para el tema claro */
  --definition-text-color-light: #333; /* Color del texto para el tema claro */
}

[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --definition-bg-dark: #2b2b2b; /* Color de fondo para el tema oscuro */
  --definition-border-color-dark: #25c2a0; /* Color del borde para el tema oscuro */
  --definition-text-color-dark: #ddd; /* Color del texto para el tema oscuro */
}

.definition {
  background-color: var(--definition-bg-light);
  border-left: 4px solid var(--definition-border-color-light);
  color: var(--definition-text-color-light);
  padding: 1rem;
  margin-bottom: 1rem;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

[data-theme='dark'] .definition {
  background-color: var(--definition-bg-dark);
  border-left: 4px solid var(--definition-border-color-dark);
  color: var(--definition-text-color-dark);
}

.definition h4 {
  margin: 0;
  font-size: 1.1rem;
}
