/* Estilos para las tarjetas de lenguaje */
.language-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--definition-bg-light); /* Fondo claro para tema claro */
    border-left: 4px solid var(--definition-border-color-light); /* Borde primario */
    color: var(--definition-text-color-light); /* Texto claro */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

[data-theme='dark'] .language-card {
    background-color: var(--definition-bg-dark); /* Fondo oscuro para tema oscuro */
    border-left: 4px solid var(--definition-border-color-dark); /* Borde oscuro */
    color: var(--definition-text-color-dark); /* Texto claro en tema oscuro */
}

.language-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.language-card-logo {
    width: 40%;  /* Ajusta el tamaño del logo en relación al ancho de la tarjeta */
    max-width: 80px; /* Limita el tamaño máximo del logo */
    height: auto;  /* Mantén las proporciones correctas */
    margin-bottom: 12px;
}

.language-card-name {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--ifm-color-primary); /* Color de texto basado en color primario */
}

[data-theme='dark'] .language-card-name {
    color: var(--ifm-color-primary); /* Color de texto basado en color primario */
}

/* Contenedor de las tarjetas */
.language-card-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr); /* Por defecto, 1 columna */
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

@media (min-width: 600px) {
    .language-card-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas más grandes */
    }
}

@media (min-width: 900px) {
    .language-card-container {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    }
}

@media (min-width: 1200px) {
    .language-card-container {
        grid-template-columns: repeat(4, 1fr); /* 4 columnas en pantallas grandes */
    }
}

@media (min-width: 1600px) {
    .language-card-container {
        grid-template-columns: repeat(5, 1fr); /* 5 columnas en pantallas muy grandes */
    }
}
