/* Tooltip.css */
.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-text {
    visibility: visible;
    width: 220px;
    background-color: rgba(60, 60, 60, 0.9);
    color: #fff;
    text-align: left;
    padding: 8px;
    border-radius: 4px;

    /* Posicionamiento */
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Mostrar arriba del texto */
    left: 50%;
    transform: translateX(-50%);
}

.tooltip-text::after {
    content: '';
    position: absolute;
    top: 100%; /* En la parte inferior del tooltip */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: rgba(60, 60, 60, 0.9) transparent transparent transparent;
}
