/* Estilos para el contenedor */
.container {
  border-left: 4px solid var(--definition-border-color-light);
  background-color: var(--definition-bg-light);
  color: var(--definition-text-color-light);
  border-radius: 4px;
  margin-bottom: 1rem;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

[data-theme='dark'] .container {
  border-left: 4px solid var(--definition-border-color-dark);
  background-color: var(--definition-bg-dark);
  color: var(--definition-text-color-dark);
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
}

/* Estilos para el botón resumen */
.summary {
  padding: 1rem;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  font-size: 1.2em;
  color: var(--title-color-light);
  font-weight: bold;
}

[data-theme='dark'] .summary {
  color: var(--title-color-dark);
}

.summary:focus {
  outline: none;
}

.summary::after {
  content: '▼';
  float: right;
  transition: transform 0.3s;
  color: var(--title-color-light);
}

[data-theme='dark'] .summary::after {
  color: var(--title-color-dark);
}

.isOpen .summary::after {
  transform: rotate(180deg);
}

/* Estilos para el contenido */
.content {
  overflow: hidden;
}

.innerContent {
  padding: 0 1rem 1rem 1rem;
}

code {
  font-family: 'Fira Code', monospace;
}