.procons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
}

.pros, .cons {
    flex: 1 1 45%;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.pros h3, .cons h3 {
    margin-top: 0;
}

/* Estilos para Ventajas */
.pros {
    background-color: var(--pros-bg-light);
    border: 1px solid var(--pros-border-color-light);
    color: var(--pros-text-color-light);
}

.pros h3 {
    color: var(--pros-title-color-light); /* Color del título en tema claro */
}

[data-theme='dark'] .pros {
    background-color: var(--pros-bg-dark);
    border: 1px solid var(--pros-border-color-dark);
    color: var(--pros-text-color-dark);
}

[data-theme='dark'] .pros h3 {
    color: var(--pros-title-color-dark); /* Color del título en tema oscuro */
}

/* Estilos para Desventajas */
.cons {
    background-color: var(--cons-bg-light);
    border: 1px solid var(--cons-border-color-light);
    color: var(--cons-text-color-light);
}

.cons h3 {
    color: var(--cons-title-color-light); /* Color del título en tema claro */
}

[data-theme='dark'] .cons {
    background-color: var(--cons-bg-dark);
    border: 1px solid var(--cons-border-color-dark);
    color: var(--cons-text-color-dark);
}

[data-theme='dark'] .cons h3 {
    color: var(--cons-title-color-dark); /* Color del título en tema oscuro */
}