/* Container wrapping the trigger and tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: help;
  outline: none;
}

/* #region .tooltip__highlight */
/* Highlighted style */
.tooltip__highlight {
  background-color: rgba(61, 219, 217, 0.1);
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
}

/* Optional: tweak for dark mode */
[data-theme="dark"] .tooltip__highlight {
  background-color: #3ddbd910;
}
/* #endregion .tooltip__highlight */

/* #region .tooltip__text */
/* Tooltip text bubble */
.tooltip__text {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0.5rem;

  padding: 0.5rem 0.75rem;
  max-width: 250px;

  background-color: var(--ifm-color-emphasis-100);
  color: var(--ifm-font-color-base);

  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  font-size: 0.875rem;
  line-height: 1.3;
  text-align: left;
  white-space: pre-wrap;

  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  animation: fadeIn 0.2s ease forwards;
}

[data-theme="dark"] .tooltip__text {
  background-color: #1d2122;
  color: var(--ifm-color-white);
  border: 1px solid 
}
/* #endregion .tooltip__text */

/* Fade-in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
    pointer-events: auto;
  }
}
